body {
    background-color: #fff;
    color: #222;
    font-family: arial,sans-serif;
    font-size: 13px;
}

a {
    color: #000;
    text-decoration: none;
}

#header {
    height: 48px;
    padding-top: 15px;
}

#header-links {
    padding: 15px;
    opacity: 0.75;
}

#aboutlink {
    padding-left: 2px;
    padding-right: 15px;
}

#opt-links {
    float: right;
    padding: 0px 15px 0px 15px;
}

#links {
    position: relative;
    right: 34px;
    bottom: 19px;
}

#icons {
    position: relative;
    right: 6px;
    bottom: 8px;
}

#gmaillink {
    padding-right: 11px;
}

#menu-icon {
    position: relative;
    right: 13px;
    bottom: 4px;
    opacity: 0.55;
}

#ave-icon {
    border-radius: 50%;
}

#body {
    min-width: 1139px;
}

#logo-block {
    margin-top: 47px;
    height: 156px;
    width: 272px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    padding-top: 38px;
    width: 272px;
    height: 92px;
    margin-left: auto;
    margin-right: auto;
}

#search {
    position: relative;
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    left: 50px;
}

#search-box {
    width: 584px;
    height: 46px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 50px;
}

#search-box:hover {
    box-shadow: 0px 0px 5px 0px rgb(154, 160, 166, 0.5);
}

#search-input {
    width: 527px;
    height: 34px;
    padding-left: 24px;
    border: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 19px;
    top: 5px;
    z-index: 3;
}

#search-ico {
    position: absolute;
    color: rgb(154, 160, 166);
    font-size: 15px;
    left: 15px;
    top: 15px;
    z-index: 4;
}

#voice-search {
    display: flex;
    height: 46px;
    width: 46px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    position: relative;
    float: right;
    bottom: 46px;
    right: 68px;
}

#voice-search:hover {
    box-shadow: 0px 0px 5px 0px rgb(154, 160, 166, 0.5);
}

#mic-ico {
    width: 24px;
    height: 24px;
    position: relative;
    top: 11px;
    left: 11px;
}

#buttons {
    width: 320px;
    height: 46px;
    margin: 28px auto 0px auto;
    padding-left: auto;
    padding-right: auto;
    position: relative;
    right: 6px;
}

.btn {
    min-width: 54px;
    height: 36px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 27px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 4px;
    margin-right: 4px;
}

#search-btn {
    background-color: rgb(26, 115, 232);
    border: 1px solid rgb(26, 115, 232);
    color: #fff;
}

#search-btn:hover {
    background-color: #1564CB;
}

#lucky-btn {
    background-color: #fff;
    border: 1px solid #dfe1e5;
    color: rgb(26, 115, 232);
}

#lucky-btn:hover {
    background-color: #E6EEF8;
}